/* ESTILOS PARA LA CABECERA */

* {
    font-family: sans-serif;
}

.topHeader{
    width: 100%;
    text-align: right;
}

.topHeader img{
    width: 30px;
    height: 30px;
}

.topHeader ul{
    list-style: none;
    width: 150px;
    float: right;
}

.topHeader a{
    text-decoration: none;
    color: black;
}

.topHeader a:hover{
    color: #E74C3C;
}

.nombreUser{
    font-weight: bold;
    padding: 6px 2px;
}

.encabezado{
    background:#CFD8DC;
    width: 100%;
    height: 47px;
    margin: auto;
}

.menu {
    min-width: 50%;
    width: 40%;
    float: left;
}

.menu ul{
    padding: 0;
    margin: 0;
}

.topHeader ul{
    padding: 0;
    margin: 0;
}

.menu ul {
    list-style: none;
}


.menu a{
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.topHeader a{
    display: block;
}

.menu > ul > li > a{
    background: none;
    color: black;
}

.menu > ul > li > ul > li > a {
    background: white;
    color: black;
    
}

.topHeader > ul > li > ul > li > a{
    padding: 10px 10px;
    background: white;
    color: black;
}

.menu > ul > li{
    width: 20%;
    float: left;
}

.menu a:hover{
    color: red;
    text-decoration: underline;
    background: #CFD8DC;
}

.topHeader > ul > li > ul > li > a:hover{
    background: #CFD8DC;
    text-decoration: underline;
}

.menu li ul{
    display: none ;
    position: absolute;
    min-width: 15%;
}

.topHeader li ul{
    display: none;
    position: absolute;
    min-width: 10%;
}

.menu li:hover > ul {
    display: block;
    border: 1px solid gray;
}

.topHeader li:hover > ul{
    display: block;
    right: 10px;
    border: 1px solid gray;
}

.busqueda{
    width: 30%;
    float: left;
    padding: 3px 0px;
}

.busqueda #buscar{
    width: 85%;
    height: 40px;
    padding: 0 15px;
    border: 0.5px solid gray;
    border-radius: 20px;
    text-align: initial;
}

.busqueda a{
    text-decoration: none;
    border: none;
    color: whitesmoke;
    background: #E74C3C;
    padding: 5px 3px;
    border-radius: 10px;
}

.carrito{
    float: left;
    margin-left: 15px;
}

.carrito img{
    width: 30px;
    height: 30px;
    padding: 10px 5px;
    display: block;
    float: left;
}

.carrito a{
    text-decoration: none;
    color: black;
    display: block;
    float: left;
    padding: 14px 5px
}

.carrito i{
    color: black;
    font-weight: bold;
    display: block;
    float: left;
    padding: 14px 5px
}

/* ESTILOS PARA EL BODY DE HOME.HTML */

body {
}

.categorias{
    width: 20%;
    float: left;
}

.categorias h3{
    margin-top: 5px;
    padding: 15px 20px;
    background: #E74C3C;
    color: whitesmoke;
}

.categorias a{
    text-decoration: none; 
    color: black;
}

.categorias a:hover{ 
    color: red;
}

.categorias ul{
    list-style: none;
    padding: 0 10px;
}

.categorias li{
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #CFD8DC;
}

.imagenesContenido{
    padding: 10px 15px;
    width: 77%;
    height: 400px;
    float: left;
}

.imagenesContenido #imagen{
    width: 100%;
    height: 390px;
}

.caracteristicas {
    width: 75%;
    float: right;
    clear: both;
    text-align: center;
}

.caracteristicas .cajaCarac{
    border: 0.5px solid gray;
    width: 27%;
    float: left;
    margin: 0px 20px;
    padding: 15px 5px;
}

.caracteristicas .cajaCarac img{
    width: 40px;
    height: 40px;
}

.caracteristicas .cajaCarac h4{
    color: #E74C3C;
}

/* ESTILOS PARA EL FOOTER*/

.contenidoPie{
    margin-top: 35px;
    clear: both;
    width: 100%;
    background: #1C2833;
    float: left; 
}

.infoPie{
    width: 47%;
    float: left;
    margin: 0 20px;
    text-align: center;
    color: whitesmoke;
}

.tituloDetalleInfoPie{
    font-weight: bold;
}

.derechos{
    border-top: 1px #CFD8DC solid;
    width: 100%;
    padding: 10px 0;
    background: #1C2833;
    clear: both;
    color: whitesmoke;
    text-align: center;
}

/* Estilos para la pagina mi_cuenta.html */

.contenidoMiCuenta{
    margin: 20px 0px;
    width: 100%;
    float: left;
}

.formulario{
    text-align: left;
    width: 47%;
    float: left;
    margin: 15px 10px;
    padding: 15px 10px;
}

.formulario h4{
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.formulario label, .formulario input{
    display: block;
}

.formulario label{
    padding: 5px 0px;
}

.formulario .campo{
    width: 90%;
    height: 50px;
    padding: 0px 15px;
    background: whitesmoke;
    margin-bottom: 20px;
}

.formulario input[type="submit"]{
    border: 1px solid red;  
    background: #E74C3C;
    border-radius: 5px;
    width: 150px;
    padding: 10px 0;
    color: white;
    font-weight: bold;
}

/* ESTILOS PARA LA PAGINA EDITAR_PERFIL.PHP */

.formEditarPerfil{
    text-align: left;
    width: 75%;
    float: left;
    margin: 15px 10px;
    padding: 15px 10px;
}

.formEditarPerfil h4{
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.formEditarPerfil label, .formEditarPerfil input{
    display: block;
}

.formEditarPerfil label{
    padding: 5px 0px;
}

.formEditarPerfil .campoED{
    width: 90%;
    height: 50px;
    padding: 0px 15px;
    background: whitesmoke;
    margin-bottom: 20px;
}

.formEditarPerfil input[type="submit"]{
    border: 1px solid red;  
    background: #E74C3C;
    border-radius: 5px;
    width: 200px;
    padding: 10px 0;
    color: white;
    font-weight: bold;
}

/* ESTILOS PARA LA PAGINA EDITAR_AVATAR.PHP */

.formEditAvatar{
    text-align: left;
    width: 75%;
    float: left;
    margin: 15px 10px;
    padding: 15px 10px;
}

.formEditAvatar h4{
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.formEditAvatar input{
    display: block;
}

.formEditAvatar input[type="file"]{
    width: 90%;
    height: 30px;
    padding: 0px 15px;
    margin-bottom: 20px;
}


.formEditAvatar input[type="submit"]{
    border: 1px solid red;  
    background: #E74C3C;
    border-radius: 5px;
    width: 200px;
    padding: 10px 0;
    color: white;
    font-weight: bold;
}

/* ESTILOS PARA LA PAGINA INDEX.HTML DE ADMINISTRADOR */
.infoAdmin{
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.infoAdmin h4{
    color: black;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.infoAdmin img{
    width: 300px;
    height: 300px;
    margin: 20px 15px;
    border-radius: 50%;
    border: 2px solid #E74C3C;
}

.infoAdmin label, .infoAdmin p{
    margin: 20px 0;
}

.infoAdmin label{
    padding: 0 30px;
    color: #E74C3C;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

/* ESTILOS PARA LA PAGINA DE ADMIN PARA VISUALZIAR Y MODIFICAR LOCALES, LOCALES.PHP */
.contenedorTabla{
    width: 75%;
    float: left;
    padding: 10px 20px;
}

.tablaLocales, .tablaLocales th, .tablaLocales td{
    border: 1px solid #1C2833;
}

.tablaLocales{
    width: 100%;
}

.tablaLocales th{
    background: #E74C3C;
    color: white;
}

.tablaLocales td{
    padding: 5px;
}

.tablaLocales a{
    text-decoration: none;
    color: #E74C3C;
}

.tablaLocales .accion:hover{
    text-decoration: underline;
    color: #E74C3C;
    background: #CFD8DC;
}

/*ESTILOS PARA PAGINA ELEGIR_LOCAL.PHP*/
.fondo{
    background: #1C2833;
}

.elegirLocal{
    margin: 20px 15px;
}

.elegirLocal table{
    margin: auto;
}

.elegirLocal a{
    text-decoration: none;
    color: #E74C3C;
    padding: 0 35px;
    font-size: 30px;
    font-weight: bold;
}

.elegirLocal a:hover{
    text-decoration: underline;
    color: white;
    padding: 0 35px;
    font-size: 30px;
    font-weight: bold;
}

.elegirLocal .dirLoc,.elegirLocal td{
    color: white;
}

.elegirLocal img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #E74C3C;
}

/*ESTILO DEL MENU DE PRODUCTOS*/

.productos{
    margin-left: 28%;
    margin-top: 25px;
}

.contenidoProductos{
    
    border: 1px solid rgb(158, 160, 161);
    height: 200px;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    float: left;
}

#imagenProd{
    width: 100%;
    margin-top: 10px;
    float: center;
}

.imgCarrito{
    width: 15%;
    margin-bottom: 0%;
}