<ion-header>
  <ion-toolbar>
    <ion-title>Cita</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(cita | async) as cita">

  <ion-card>
    <ion-card-content>
      Cedula: <ion-input required type="text" [(ngModel)]="citaUpdate.cedula"></ion-input>
      Nombres y Apellidos: <ion-input required type="text" [(ngModel)]="citaUpdate.nombre"></ion-input>
      Telefono: <ion-input required type="text" [(ngModel)]="citaUpdate.telefono"></ion-input>
      Sintomas: <ion-input required type="text" [(ngModel)]="citaUpdate.sintomas"></ion-input>
      Fecha: <ion-input required type="date" [(ngModel)]="citaUpdate.fecha"></ion-input>
      Hora: <ion-input required type="time" [(ngModel)]="citaUpdate.hora"></ion-input>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <ion-button expand="block" type="submit"  (click)="actualizaCita()">Actualizar</ion-button>
  </div>

</ion-content>
