<ion-menu side="start" menuId="menuUser" contentId="user">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>User Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle>
                <ion-item routerLink="/citas-user">
                    <ion-icon slot="start" name="book-outline"></ion-icon>Citas</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
                <ion-item>Menu Item</ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-router-outlet id="user"></ion-router-outlet>


<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="primary" menu="menuUser"></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="(user | async) as usuario" class="ion-padding">

    <ion-card>
        <ion-avatar>
            <img [src]="usuario.avatar">
        </ion-avatar>

        <ion-card-content>
            <ion-card-title>
                {{usuario.nombres + ' ' + usuario.apellidos}}
            </ion-card-title>
            <ion-card-subtitle>{{usuario.email}}</ion-card-subtitle>
            <p>{{usuario.telefono}}</p>
        </ion-card-content>
    </ion-card>

</ion-content>