<ion-header class="ion-no-border">
    <div class="login-header ion-padding">
        <img class="logo-img" src="assets/img/logoMed.png">
    </div>
</ion-header>
<ion-content>
    <div class="registro">
        <div class="buttom-action">
            <ion-button routerLink="/login" fill="clear" color="dark" size="small">
                <b><p class="signin-text">Iniciar Sesión</p></b>
            </ion-button>
            <ion-button fill="clear" color="dark" size="small">
                <b><p class="signup-text">Registrarse</p></b>
            </ion-button>
        </div>
        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="user.cedula" placeholder="Cédula" type="text"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="user.nombres" placeholder="Nombres" type="text"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="person-outline"></ion-icon>
            <ion-input [(ngModel)]="user.apellidos" placeholder="Apellidos" type="text"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="call-outline"></ion-icon>
            <ion-input [(ngModel)]="user.telefono" placeholder="Teléfono" type="text"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="mail-outline"></ion-icon>
            <ion-input [(ngModel)]="user.email" placeholder="Email" type="text"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="lock-closed-outline"></ion-icon>
            <ion-input [(ngModel)]="user.password" placeholder="Contraseña" type="password"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="lock-closed-outline"></ion-icon>
            <ion-input placeholder="Repetir contraseña" type="password"></ion-input>
        </ion-item>
        <div linespace></div>

        <ion-button (click)="onRegister()" color="primary" class="ion-buttom-class" shape="round" fill="solid" size="large" expand="block">Registrarme</ion-button>
        <ion-label class="ion-text-center">Ya tengo una cuenta <span class="link-buttom"><strong>Iniciar Sesión</strong></span></ion-label>
    </div>
</ion-content>