<ion-header>
  <ion-toolbar>
    <ion-title>Ingresar Cita</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Cedula <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="cita.cedula"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombres y Apellidos</ion-label>
      <ion-input required type="text" [(ngModel)]="cita.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefono</ion-label>
      <ion-input required type="text" [(ngModel)]="cita.telefono"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-input requiered type="date" [(ngModel)]="cita.fecha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Hora</ion-label>
      <ion-input requiered type="time" [(ngModel)]="cita.hora"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sintomas</ion-label>
      <ion-textarea required type="text" [(ngModel)]="cita.sintomas"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit"  (click)="guardarCita()">Guardar</ion-button>
  </div>
</ion-content>
