<ion-header>
  <ion-toolbar>
    <ion-title>Citas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Cedula</ion-label>
    <ion-label>Nombre</ion-label>
    <ion-label>Telefono</ion-label>
    <ion-label>Sintomas</ion-label>
    <ion-label>Fecha</ion-label>
    <ion-label>Hora</ion-label>
  </ion-item>
  <ion-list *ngFor="let cita of citas | async; trackBy: trackByFn">
    <ion-item>
      <ion-label (click)="showCita(cita.uid)">{{cita.cedula}}</ion-label>
      <ion-label (click)="showCita(cita.uid)">{{cita.nombre}}</ion-label>
      <ion-label (click)="showCita(cita.uid)">{{cita.telefono}}</ion-label>
      <ion-label (click)="showCita(cita.uid)">{{cita.sintomas}}</ion-label>
      <ion-label (click)="showCita(cita.uid)">{{cita.fecha}}</ion-label>
      <ion-label (click)="showCita(cita.uid)">{{cita.hora}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showCrearCita()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
