<ion-header class="ion-no-border">
    <div class="login-header ion-padding">
        <img class="logo-img" src="assets/img/logoMed.png">
    </div>
</ion-header>

<ion-content>
    <div class="center">
        <div class="buttom-action">
            <ion-button fill="clear" color="dark" size="small">
                <b><p class="signin-text">Iniciar Sesión</p></b>
            </ion-button>
            <ion-button routerLink="/registro" fill="clear" color="dark" size="small">
                <b><p class="signup-text">Registrarse</p></b>
            </ion-button>
        </div>
        <ion-label style="text-align: center;">
            Bienvenido a tu gestor de citas médicas.
        </ion-label>
        <ion-item transparent>
            <ion-icon icon-small name="people-outline"></ion-icon>
            <ion-input [(ngModel)]="user.email" placeholder="Usuario" type="text"></ion-input>
        </ion-item>
        <ion-item transparent>
            <ion-icon icon-small name="lock-closed-outline"></ion-icon>
            <ion-input [(ngModel)]="user.password" placeholder="Contraseña" type="password"></ion-input>
        </ion-item>
        <ion-label class="forget-password">Olvidé mi clave</ion-label>

        <div linespace></div>

        <ion-button (click)="onLogin()" color="primary" class="ion-buttom-class" shape="round" fill="solid" size="large" expand="block">LOGIN</ion-button>
        <ion-label class="ion-text-center">¿No tienes una cuenta? <span class="link-buttom"><strong>Regístrate</strong></span></ion-label>
    </div>
</ion-content>