<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>citas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-label *ngIf="citasProgramadas == null">No tiene citas programadas</ion-label>
    <ion-list *ngIf="citasProgramadas != null">
        <ion-list-header>Citas Programadas</ion-list-header>
    </ion-list>

    <ion-label *ngIf="citasPendientes == null">No tiene citas pendientes de aprobación</ion-label>
    <ion-list *ngIf="citasPendientes != null">
        <ion-list-header>Citas Pendientes de Aprobación</ion-list-header>

        <ion-item *ngFor="let citaP of citasPendientes | async; trackBy: trackByFn">
            <ion-avatar slot="start">
                <ion-icon name="hourglass-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>{{citaP.medicoUid}}</h2>
                <h3>{{citaP.hora}}</h3>
                <h3>{{citaP.fecha}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary" routerLink="/crear-cita-user">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>