<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Registrar Cita</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form #crarCitaForm="ngForm" (ngSubmit)="onSubmitTemplate()">

        <ion-list>

            <ion-item>
                <ion-label position="stacked">Paciente</ion-label>
                <ion-input type="text" name="paciente" [(ngModel)]="paciente" disabled></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Médico</ion-label>
                <ion-select [(ngModel)]="cita.medicoUid" name="medico">
                    <ion-select-option *ngFor="let medico of medicos | async; trackBy: trackByFn" [value]="medico.uid">{{medico.nombres + ' ' + medico.apellidos}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Fecha</ion-label>
                <ion-input type="date" name="fecha" [(ngModel)]="cita.fecha"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Hora</ion-label>
                <ion-input type="time" name="hora" [(ngModel)]="cita.hora"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Observaciones</ion-label>
                <ion-textarea type="text" name="observaciones" [(ngModel)]="cita.observaciones" placeholder="Escriba sus observaciones aqui..." rows="10"></ion-textarea>
            </ion-item>



        </ion-list>

        <ion-button expand="full" color="primary" type="submit">Agendar</ion-button>

    </form>

</ion-content>